/* IntuitHack CSS
 * 
 * File: style.css
 * Contents: All CSS, media queries
 */

html, body {
  margin: 0;
  padding: 0;
  background:#f7f7f7;
  overflow:hidden;
}

/*
 * GLOBAL NAV
 */
nav#primary {
  position: absolute;
  width: 180px;
  top: 0;
  right: 10px;
}

nav#primary a {
  display: inline-block;
  float: left;
  text-decoration: none;
  color: #000;
  font-family: 'Crete Round', sans-serif;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 90px;
}

nav#primary a:hover {
  background: rgba(0, 0, 0, 0.05);
}


/*
 * MAIN CONTENT
 */
main {
  width: 70%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  padding: 10px;
}


/*
 * SIDEBAR
 */
section#sidebar {
  width: 30%;
  height: 100%;
  padding: 15px;
  position: fixed;
  left: 0;
  box-sizing: border-box;
  background: linear-gradient( #757575, #111 );
  box-shadow: inset -3px 0px 3px rgba(0,0,0,0.3);
}

  section#sidebar header {
    text-align: center;
  }

    section#sidebar header img {
      width: 100px;
      height: 100px;
    }
    
    section#sidebar header h1 {
      margin: 0;
      padding: 0;
      font-family: 'Crete Round', sans-serif;
      color: #fff;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
      font-weight: 400;
      font-size: 1.85em;
    }
  
  section#sidebar aside {
    width: 100%;
    margin-top: 20px;
    color: #ccc;
    font-size: 0.9em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  }
  
    section#sidebar aside header {
      width: 100%;
      line-height: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      text-align: left;
      font-family: Arial, sans-serif;
    }
    
      section#sidebar aside header a, section#sidebar nav a, .options a {
        display: inline-block;
        float: right;
        padding: 7px;
        line-height:15px;
        background: linear-gradient( #227EE0, #0060BB );
        color: #fff;
        font-family: 'Crete Round', sans-serif;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        text-shadow: none;
      }
    
        section#sidebar aside header a:hover, section#sidebar nav a:hover, .options a:hover {
          box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.4);
        }
    
  section#sidebar aside span {
    display: inline-block;
    line-height: 30px;
    width: 50%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
    
  section#sidebar aside .stat {
    padding:0 5px 0 10px;
    text-align: right;
    clear: both;
    float: left;
  }
  
  section#sidebar aside .val {
    padding:0 10px 0 5px;
    text-align: left;
    float: right;
    color: #fff;
  }
  
  section#sidebar nav {
    clear: both;
    margin-top: 20px;
  }
  
  section#sidebar nav a, .options a {
    display: inline-block;
    float: none;
    width: 42%;
    margin: 5px 4%;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    min-width: 130px;
  }



/*
 * LOGIN PAGE
 */
section#login {
  position: absolute;
  width: 500px;
  height: 370px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
}

  .logo img, #sidebar header img {
    background: #fff;
    display: inline-block;
    border-radius: 80px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border:3px solid rgba(255, 255, 255, 0.3);
  }

  .logo header {
    font-size: 2.5em;
    font-family: 'Crete Round', sans-serif;
  }
  
  .logo header span {
    font-size: 0.5em;
    font-family: Arial, sans-serif;
    font-style: italic;
    vertical-align: 7px;
  }

  #login input {
    display: block;
    width: 250px;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 15px;
    transition: all 0.2s ease-in-out;
    outline: none;
  }

    #login input:hover, #login input:focus {
      border: 1px solid rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }

  #login input[type=submit] {
    width: 100px;
    padding: 10px;
    background: linear-gradient( #227EE0, #0060BB );
    cursor: pointer;
    color: #fff;
    font-family: 'Crete Round', sans-serif;
    font-size: 1em;
  }

    #login input[type=submit]:hover, #login input[type=submit]:focus {
      border: 1px solid rgba(0, 0, 0, 0.8);
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.4);
    }
    
  #prompt, #middle {
    width: 65%;
    box-sizing: border-box;
    height: 320px;
    position: absolute;
    
    top: 50%;
    margin-top: -160px;
  }
  
    .prompt, .middle, .sub {
      font-size: 2.5em;
      font-family: 'Crete Round', sans-serif;
      text-align: center;
      display: block;
    }
    
    .options {
      text-align: center;
    }
    
    .sub {
      font-size: 1.25em;
      text-align: center;
      margin: 15px 0;
    }
    
@media (min-device-width: 0px) and (max-device-width: 640px), screen and (max-width: 640px) {

  html, body {
    overflow: auto;
  }

  nav#primary {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 90px;
  }
  
  nav#primary a {
    color: #fff;
    display: block;
    float: none;
    background: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  nav#primary a:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  section#sidebar {
    width: 100%;
    display: block;
    position: relative;
    height: auto;
  }
  
  section#sidebar aside {
    height: 150px;
  }
  
  section#sidebar nav a {
    width: 50%;
    display: block;
    margin: 4px auto;
    padding: 6px;
  }
  
  main {
    float: none;
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
  }
  
  section#login {
    width: 100%;
    height: auto;
    position: relative;
    margin: 15px 0;
    left: 0;
    top: 0;
  }
  
  section#login header span {
    display: block;
  }
  
  section#login .login {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  section#login .login input {
    width: 100%;
    box-sizing: border-box;
  }
  
  #prompt, #middle {
    position: relative;
    top: 0;
    margin: 15px 0;
    width:100%;
    height: auto;
  }

}